<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Write a Blog</title>

<link rel="stylesheet" href="create.css">

</head>

<body>

<div class="container">

    <h1>Write a Story</h1>

    <form onsubmit="createBlog(event)">

        <!-- Title -->

        <input
            type="text"
            id="title"
            placeholder="Blog Title"
            required
        >

        <!-- Category -->

        <select id="category" required>

            <option value="">Choose Category</option>

            <option value="Technology">Technology</option>

            <option value="Programming">Programming</option>

            <option value="Travel">Travel</option>

            <option value="Personal">Personal</option>

            <option value="Career">Career</option>

        </select>

        <!-- Content -->

        <textarea
            id="content"
            placeholder="Tell your story..."
            oninput="updateCount()"
            required
        ></textarea>

        <div class="bottom">

            <span id="counter">0 / 500</span>

            <button id="btn">
                Publish
            </button>

        </div>

    </form>

</div>

<script src="create.js"></script>

</body>
</html>