
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(-45deg, #2c003e, #6a0572, #ff4da6, #1a001f);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  color: white;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  display:flex;
  justify-content: space-between;
  align-items:center;
}
.nav-links{
  display:flex;
  gap:40px;
}

nav a {
  color: white;
  margin-left: 25px;
  margin-right:25px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.typing {
  font-size: 40px;
  font-weight: bold;
  border-right: 3px solid white;
  display: inline-block;
  padding-right: 5px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% { border-color: transparent; }
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #ff4da6;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  transform: scale(1.1);
}

/* SEARCH */
.search-box {
  text-align: center;
}

.search-box input {
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* BLOG GRID */
.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 30px;
  gap: 20px;
}

/* GLASS CARD */
.blog-card {
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.blog-card:hover {
  transform: translateY(-10px);
}

/* BUTTONS */
.blog-card button {
  margin-top: 10px;
  margin-right: 5px;
  padding: 6px 12px;
  border: none;
  background: #ff4da6;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* TOAST */
#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  padding: 10px 20px;
  border-radius: 10px;
  display: none;
}

.filter-box{
    width:90%;
    max-width:1100px;
    margin:20px auto;
    display:flex;
    align-items:center;
    gap:15px;
}

.filter-box label{
    font-size:18px;
    font-weight:bold;
}

.filter-box select{
    padding:10px 15px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
    cursor:pointer;
}
